@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:ital,wght@0,700;1,300&display=swap');

@font-face {
  font-family: Typewriter;
  src: url(STAMPWRITER-KIT.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-mobile {
  display: none;
}

body {
  font-family: 'Typewriter', sans-serif;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  /* height: 100vh; */
  /* overflow: hidden; */
  /* background-color: #cccccc;
  background: url('https://res.cloudinary.com/dylvkdabj/image/upload/v1647046805/website%20pics%20family/liam-studebaker_lhq5yk.jpg'); */
}

.container {
  background: url('https://res.cloudinary.com/dylvkdabj/image/upload/v1647046805/website%20pics%20family/liam-studebaker_lhq5yk.jpg'),
    url('https://res.cloudinary.com/dylvkdabj/image/upload/v1647063596/website%20pics%20family/liam-window-sharpened_npompp.jpg');
  height: 100vh;
  background-size: cover;
}

/* .title-sub,
.view-code,
.chronological {
  color: white;
  background-color: rgba(0, 0, 0, 0.322);
} */

.title-sub {
  padding-top: 8px;
}

.chronological {
  padding-bottom: 6px;
}

.project-link-container {
  margin-left: 1.5rem;
  margin-bottom: 4rem;
  height: 30vh;
  width: 35vw;
  margin: 284px auto 0;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #cccccc;
  background: url('https://res.cloudinary.com/dylvkdabj/image/upload/v1647050042/website%20pics%20family/old-brown-arctic-texture-image-900x741_mgmxfz.jpg');
  background-color: white;
  position: relative;
}

.project-link-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.664);
}

#arrow {
  height: 92px;
  position: absolute;
  bottom: 0;
  right: 18px;
}

a {
  /* text-decoration: none; */
  color: black;
}

.title-line {
  font-size: 54px;
  padding-bottom: 11px;
  margin-top: 24px;
}

.title-sub {
  font-size: 18px;
  padding-bottom: 8px;
}

.chronological {
  font-size: 14px;
}

.heading-text {
  margin: 1rem auto 5rem;
  text-align: center;
  padding-bottom: 84px;
}
.dark-text {
  color: rgb(29, 29, 29);
}

#name {
  margin-bottom: 24px;
}

.sub-text {
  font-weight: 900;
  margin-bottom: 12px;
}

.project-name {
  font-size: 28px;
}

.project-description {
  font-size: 22px;
  margin-bottom: 18px;
}

.sub-text-description {
  margin-bottom: 12px;
  font-weight: 900;
}

.link-project {
  font-size: 18px;
}

@media only screen and (max-width: 650px) {
  .project-link-container {
    width: 90vw;
    margin: 35px auto 0;
    height: 300px;
  }

  .title-line {
    color: black;
    padding-bottom: 0;
  }

  .project-description {
    display: none;
  }

  .project-href {
    overflow-wrap: break-word;
  }

  #arrow {
    width: 73px;
  }
}

@media only screen and (max-width: 750px) and (min-width: 651) {
  .title-sub,
  .view-code,
  .chronological {
    color: white;
    background-color: #000;
  }

  .title-sub {
    padding-top: 9px;
  }

  .chronological {
    padding-bottom: 4px;
  }

  .project-link-container {
    width: 70vw;
    margin: 312px auto 0;
    height: 345px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 751px) {
  .title-sub,
  .view-code,
  .chronological {
    color: white;
    background-color: #000;
  }

  .project-link-container {
    width: 80vw;
    margin: 285px auto 0;
    height: 330px;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 901px) {
  .title-sub,
  .view-code,
  .chronological {
    color: white;
    background-color: #000;
  }

  .title-sub {
    padding-top: 9px;
  }

  .chronological {
    padding-bottom: 4px;
  }

  .project-link-container {
    width: 65vw;
    margin: 150px auto 0;
    height: 300px;
  }

  .sub-text-description {
    margin-bottom: 12px;
    font-weight: 900;
  }
}

@media only screen and (max-width: 350px) {
  .title-line {
    font-size: 24px;
  }
  .title-sub,
  .view-code,
  .chronological {
    color: white;
    background-color: #000;
    font-size: 12px;
  }

  .sub-text-description {
    display: none;
  }

  .project-link-container {
    height: 235px;
  }

  .name-line {
    font-size: 22px;
  }

  .project-href {
    font-size: 15px;
  }
}
